In [2]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
data = pd.read_csv("C:\\Users\\wassi\\OneDrive\\Desktop\\python avance\\TP8_4Projets\\Newgg\\newegg_products.csv")
data
len(data)

4159

In [ ]:
data_laptobs = data[data['category'] == 'Laptop']
len(data_laptobs)

841

In [3]:
data.isnull().sum()

category           0
product_name       0
brand              0
price             22
rating_avg      2363
rating_count    2363
scrape_date        0
dtype: int64

In [4]:
data.describe()

        rating_avg
count  1415.000000
mean      4.477739
std       0.678019
min       1.000000
25%       4.300000
50%       4.600000
75%       5.000000
max       5.000000

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3394 entries, 0 to 3393
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   category      3394 non-null   object
 1   product_name  3394 non-null   object
 2   brand         3394 non-null   object
 3   price         3374 non-null   object
 4   rating_avg    1415 non-null   float64
 5   rating_count  1415 non-null   object
 6   scrape_date   3394 non-null   object
dtypes: float64(1), object(6)
memory usage: 185.7+ KB