In [7]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
data = pd.read_csv('prices_history.csv')
len(data)

2261

In [12]:
data['availability'].value_counts()

availability
Unknown         2253
Out of stock       8
Name: count, dtype: int64

In [5]:
data.isnull().sum()

category                  0
scrape_datetime_utc       0
page                      0
rank                      0
product_name              0
product_url               0
brand                     0
price_value              17
rating_avg             1292
rating_count           1362
availability              0
dtype: int64

In [13]:
data.describe()

              page         rank  price_value  rating_avg  rating_count
count  2261.000000  2261.000000  2244.000000  969.000000    899.000000
mean     10.276426   352.065458   590.120914    4.450052     70.866518
std       5.896986   208.430921   649.689498    0.720926    151.165980
min       1.000000     1.000000    14.950000    1.000000      1.000000
25%       5.000000   165.000000   179.990000    4.300000      2.000000
50%      10.000000   343.000000   349.695000    4.600000     11.000000
75%      16.000000   541.000000   799.790000    5.000000     64.000000
max      20.000000   720.000000  8011.580000    5.000000    903.000000

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3394 entries, 0 to 3393
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   category      3394 non-null   object
 1   product_name  3394 non-null   object
 2   brand         3394 non-null   object
 3   price         3374 non-null   object
 4   rating_avg    1415 non-null   float64
 5   rating_count  1415 non-null   object
 6   scrape_date   3394 non-null   object
dtypes: float64(1), object(6)
memory usage: 185.7+ KB